[submodule "third-party/STM32L0xx_HAL_ST"]
	path = third-party/STM32L0xx_HAL_ST
	url = git@github.com:STM32-Libraries/STM32L0xx_HAL_ST.git
[submodule "lib/sr04t"]
	path = lib/sr04t
	url = https://github.com/MarcoAAG/SR04T.git
